# -*- mode: gitignore; -*-

*.html

eric_john_berquist_etd.pdf

abstract.pdf
administrative_abstract.pdf
preface.pdf
introduction.pdf
paper_01/anions.pdf
paper_02/AbInitio_revised.pdf
paper_02/002.pdf
paper_02/013.pdf
paper_02/014.pdf
paper_02/015.pdf
paper_02/016.pdf
paper_02/017.pdf
paper_03/SpectroscopicMap.pdf
paper_04/ALMO_LR.pdf
paper_05/psi4numpy.pdf

test_bibliography.pdf
title_page.pdf

presentation/presentation.pdf

## LaTeX

*.aux
*.bbl
*.bcf
*.bib.bak
*.bib.sav
*.blg
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lol
*.lot
*.lox
*.out
*.run.xml
*.stp
*.toc
*.vrb
*.xdv

# beamer
*.lbf
*.nav
*.snm

# glossaries/acronyms
*.acn
*.glsdefs
*.ist

# minted
_minted*
*.pyg

# pittetd
*.etd

## Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el
